html {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.container {
    max-width: 1030px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.762);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.main {
    background-color: #1F2937;
    color: white; 
}

.top {
    padding: 100px;
}

.top-title {
    font-size: 48px;
    margin-bottom: 15px;
}

.top-text {
    margin-bottom: 36px;
    font-size: 16px;
}

.top-button {
    background-color: #3882F6;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-content {
    width: 50%;
    margin-right: 30px;
}

.top-img {
    width: 50%;
    height:auto;
    border-radius: 5px;
}

.advantages {
    background-color: aliceblue;
}

.square {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.advantages-title {
    text-align: center;
    color: #1F2937;
    padding: 30px;
    font-size: 32px;
}

.advantages-text {
    color: #1F2937;
    text-align: center;
    margin: 20px;
    padding: 0px;
}

.inner-container {
    display: flex;
    justify-content: center;
    gap: 94px;
}

.quote {
    background-color: #4589f795;
    padding: 70px;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote-author {
    font-weight: 600;
    text-align: end;
    font-size: 18px;
}

.call-to-action {
    background-color: aliceblue;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-inner {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 16px 100px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.button-title {
    margin-bottom: 0;
}

.button-description {
    margin-top: 0;
}

.bottom-button {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
}

footer {
    background-color: #1F2937;
    color: rgba(255, 255, 255, 0.762);
    text-align: center;
    padding: 30px 0;
} 